@page "{id:int?}"
@model Interfata_ASP.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container row p-0 m-0">
    <div>
        <h2 class="text-info">Displaying details for @Model.item.Title</h2>
    </div>
</div>
<div class="col-25 border p-3 mt-3">

    <table>
        <tr>
            <td colspan="2">
                <p style="font-size:16px">Path :</p>
            </td>
            <td>
                <p style="color:#0c7c23;font-size:16px">@Model.item.Path</p>
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <p style="font-size:16px">Extension :</p>
            </td>
            <td>
                <p style="color:#0c7c23;font-size:16px">@Model.item.Extension</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="font-size:16px">Description :</p>
            </td>
            <td>
                @if (string.IsNullOrEmpty(Model.item.Description))
                {
                    <p style="color:darkred;font-size:16px"> No description</p>
                }
                else
                {
                    <p style="color:#0c7c23;font-size:16px"> @Model.item.Description</p>
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="font-size:16px">Location :</p>
            </td>
            <td>
                @if (string.IsNullOrEmpty(Model.item.Location))
                {
                    <p style="color:darkred;font-size:16px"> No location</p>
                }
                else
                {
                    <p style="color: #0c7c23;font-size:16px"> @Model.item.Location</p>
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="font-size:16px">Event :</p>
            </td>
            <td>
                @if (string.IsNullOrEmpty(Model.item.Event))
                {
                    <p style="color: darkred;font-size:16px"> No event</p>
                }
                else
                {
                    <p style="color: #0c7c23;font-size:16px"> @Model.item.Event</p>
                }
            </td>
        </tr>
    </table>
</div>


@if (Model.item.IsPhoto)
{
    if (System.IO.File.Exists(Model.item.Path))
    {
        byte[] imgByteArray = System.IO.File.ReadAllBytes(Model.item.Path);
        var converted = Convert.ToBase64String(imgByteArray);
        var imgSrc = String.Format("data:image;base64,{0}", converted);
        <img src="@imgSrc" width=" 500" height="500" />
    }
    else
    {
        <div class="container border row p-0 m-0">
            <div>
                <h2 style="color:darkred">Image path not found, cannot show preview</h2>
            </div>
        </div>
    }

}
else
{
    <div class="container border row p-0 m-0">
        <div>
            <h2 style="color:darkred">This item is a video, no preview available</h2>
        </div>
    </div>
}
<div class="col-20 border p-3 mt-3">
    <form method="post">

        @if (Model.item.persons.Length != 0)
        {
            <div>
                <h2 style="color:darkgreen">Persons</h2>
            </div>
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        <label asp-for="item.persons[0].FirstName"></label>
                    </th>
                    <th>
                        <label asp-for="item.persons[0].LastName"></label>
                    </th>
                    <th>
                        <label asp-for="item.persons[0].Group"></label>
                    </th>
                </tr>
                @foreach (var person in Model.item.persons)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(i => person.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(i => person.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(i => person.Group)
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h3 style="color:darkred">@Model.item.Title has no persons Attached</h3>
        }
    </form>
</div>
<div class="col-20 border p-3 mt-3">
    <form method="post">
        @if (Model.item.properties.Length != 0)
        {
            <div>
                <h2 style="color:darkgreen">Dynamic Properties</h2>
            </div>
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        <label asp-for="item.properties[0].Name"></label>
                    </th>
                    <th>
                        <label asp-for="item.properties[0].Value"></label>
                    </th>
                </tr>
                @foreach (var property in Model.item.properties)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(i => property.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(i => property.Value)
                        </td>

                    </tr>
                }
            </table>
        }
        else
        {
            <h3 style="color:darkred">@Model.item.Title has no properties Attached</h3>
        }
    </form>
</div>

