@page
@model Interfata_ASP.IndexModel
@{
    ViewData["Title"] = "Index";
}
<div class="container row p-0 m-0">
    <div class="col-10">
        <h1 class="text-info">Media Items</h1>
        <h3 style="color: #57fe51">Listing : @Model.items.Length items</h3>
        <form>
            <p>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Keyword Type : </span>
                    </div>
                    <select asp-for="filterTypeValue" asp-items="Model.filterType">
                        <option value="">All</option>
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Keyword : </span>
                    </div>
                    <input type="text" asp-for="searchString" />
                    <input type="submit" value="Search" />
                </div>

            </p>
        </form>
    </div>
</div>

<div class="col-20 border p-3 mt-3">
    <form method="post">
        @if (Model.items.Count() != 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        <label asp-for="items[0].Id"></label>
                    </th>
                    <th>
                        <label asp-for="items[0].Title"></label>
                    </th>
                    <th>
                        <label asp-for="items[0].Date"></label>
                    </th>
                    <th>
                        <label asp-for="items[0].Location"></label>
                    </th>
                    <th>
                        <label asp-for="items[0].Event"></label>
                    </th>
                    <th>
                        <label asp-for="items[0].IsPhoto"></label>
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
                @foreach (var item in Model.items)
                {
                    <tr class="table-primary">
                        <td>
                            @Html.DisplayFor(i => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.Date)
                        </td>

                        @if (item.Location != string.Empty)
                        {
                            <td>
                                @Html.DisplayFor(i => item.Location)
                            </td>
                        }
                        else
                        {
                            <td>No location</td>
                        }

                        @if (item.Event != string.Empty)
                        {
                            <td>

                                @Html.DisplayFor(i => item.Event)
                            </td>
                        }
                        else
                        {
                            <td>
                                No Event
                            </td>
                        }
                        @if (item.IsPhoto)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Items available</p>
        }
    </form>
</div>

